.App {
  text-align: center;
  font-family: sans-serif;
}

.controls {
  margin: 1rem;
}

.piano {
  position: relative;
  display: inline-block;
}

.white-keys {
  display: flex;
}

.piano-key.white {
  width: 60px;
  height: 200px;
  background: white;
  border: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.black-wrapper {
  position: absolute;
  top: 0;
  z-index: 2;
}

.piano-key.black {
  width: 40px;
  height: 120px;
  background: black;
  border: 1px solid #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
  
.label {
  font-size: 12px;
  margin-bottom: 2px;
}
.note {
  font-size: 10px;
  margin-bottom: 2px;
}
.solfege {
  font-weight: bold;
  color: red;
  margin-bottom: 5px;
}


.piano-key.white.active {
  background: lightblue;
}

.piano-key.black.active {
  background: #3399ff;
}

